body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme{
  color: #fff;
 
}
#root{
  box-shadow: 1px 1px 10px #000;
}

.css-83ijpv-MuiTypography-root{
  color: #fff !important;
}